<div class="row">
  <div class="jumbotron">
    <div class="container">
      <h1>The Who, What, &amp; Why</h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h2>What is InstantBootstrap?</h2>
      <div>
        <h4>InstantBootstrap is an Express Setup Environment.</h4>
        <br>
        InstantBootstrap Angular Edition was created to decrease environment setup time when wanting to create new WebApps built with bootstrap. We wanted a quick way to be able to have all our commonly used dependencies and favorite plug-ins ready to go with minimal commands in terminal. InstantBootstrap Delivers that exactly that with a preset environment for bootstrap sass and angular development. This will help you get your projects started faster, keeping you more efficient and productive. </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Who created InstantBootstrap?</h2>
      <div>InstanstBoostrap was developed by Brian Orr, and uses Josh Alcalan's Modular Angular App Base. </div><br>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4"> <a href="#"><img class="img-responsive" src="https://s3.amazonaws.com/instantbootstrap/theorrs.png" alt=""></a>
      <h3><a href="https://github.com/DrkDevil">Brian Orr</a></h3>
      <strong>InstantBoostrap</strong>
      <p>Brian Orr is a professional UI/UX Developer and Designer with almost twenty years experience developing websites &amp; enterprise level apps for a variety of clients.</p>
    </div>
    <div class="col-md-4"> <a href="#"><img class="img-responsive" src="http://placehold.it/700x400" alt=""> </a>
      <h3><a href="https://github.com/doubledead">Josh Alcalan</a></h3>
      <strong>Modular Angular Base</strong>
      <p>Other than just being awesome, he's a pretty busy guy. His bio is Coming Soon.</p>
    </div>
  </div>
</div>
