<!-- Delete all this content and add your own. Use this page as a template to create more pages.  -->

<div class="row">
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Instant<span class="instant">Bootstrap</span></h1>
      <p>A no mess, easy way to start creating custom Angular Apps, and Twiter Bootstrap themes<br>
        using SASS, BOWER, and GULP with little to no configuration at all.</p>
      <div class="btn-group" role="group"> <a class="btn btn-ibs btn-lg" href="https://github.com/DrkDevil/InstantBootstrap-av/zipball/master" role="button">Download <i class="fa fa-cloud-download" aria-hidden="true"></i></a> <a class="btn btn-ibs btn-lg" href="https://github.com/DrkDevil/InstantBootstrap-av" role="button">View Github <i class="fa fa-github" aria-hidden="true"></i></a> </div>
    </div>
  </div>
</div>
<div>
  <div id="getting-started" class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Requirements</h2>
        <p>The only requirement is GIT.</p>
        <p>If you have no previous knowledge of GIT, and wish to learn more about it please visit these sites.</p>
        <p><a  class="btn btn-primary" href="https://github.com/"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a> <a  class="btn btn-info" href="https://try.github.io/levels/1/challenges/1">Try GitHub Training</a></p>
        <hr>
        <h2>Getting Started</h2>
        <p>There are a few ways you can download InstantBootstrap to get started with your Bootstrap themed Angular App.</p>
        <br>
        <p>You can simply download InstantBootstrap here from our <a href="https://github.com/DrkDevil/InstantBootstrap-av/zipball/master">GitHub page</a>, or within your terminal run the command:</p>
        <p>
        <pre><code>$ git clone https://github.com/DrkDevil/InstantBootstrap-av.git </code></pre>
        </p>
        <br>
        <p>After you have downloaded, or cloned the InstantBootstrap repo you we need to gather the needed node moduales and dependecies to run your application and development enviormnet.</p>
        <p>The first step is to navigate to your newly downloaded repo in terminal, and run the command
        <pre><code>$ npm install </code></pre>
        </p>
        <p>This will grab all the nesecary node moduals needed to run your project.</p>
        <br>
        <p>The final step now is to run the command
        <pre><code>$ bower install </code></pre>
        </p>
        <p>Now that all of InstantBootstrap's dependencies have been downloaded, you are ready to start.</p>
	<p>You can now open the index.html file in the root of instantbootstrap and start creating your own Angular App with the <a target="blank" href="http://getbootstrap.com">Twitter Bootstrap Framework</a></p>
         <h2>That's all Folks</h2>
        <p>I hope InstantBootstrap becomes a helpful tool in your arsenal for creating amazing things for the web.</p>
        <p>Feel free to share your creations wih us by emailng us your sites to <a href="mailto:creations@instantbootstrap.com">creations@instantbootstrap.com</a> </p>
        <hr>
        <p>If you are looking for the orignial InstantBootstrap without an Angular Base App you can view its github here.</p>
        <p><a class="btn btn-default btn-primary" href="http://drkdevil.github.io/InstantBootstrap/" role="button">Instant Bootstrap Core</a></p>
      </div>
      <div class="col-md-4">
        <h2>Easily Expandable</h2>
        <img class="img-responsive" src="https://s3.amazonaws.com/instantbootstrap/bowernpm.png" alt="Bower and NPM"/><br>
        <p>Use Bower and NPM to easily add new components, and expand the functionality of your themes. </p>
        <hr>
        
        <ul class="list-group">
			<li class="list-group-item active"><h5>Included Dependecies</h5></li>
          <li class="list-group-item">Bootstrap 3.3.6</li>
          <li class="list-group-item">Bootstrap sass 3.3.6</li>
          <li class="list-group-item">Angular 1.4.9</li>
          <li class="list-group-item">Angular Routing 1.4.9</li>
          <li class="list-group-item">Font Awesome</li>
        </ul>
        <hr>
        <h2>17 Bootstrap Templates </h2>
		  <p>Also included are all 17 of bootstraps original templates from <a target="_blank" href="getbootstrap.com">getbootstrap.com</a>, so you can start laying out new sites imediately.</p>
        <p>These templates are independent of InstantBootstrap's Angular Base App to help keep your new project from from bloat.</p>
      </div>
    </div>
  </div>
  <div class="container">
    <hr>
    <footer>
      <p>Created by Brian Orr (<a  target="_blank" href="https://github.com/drkdevil" class="user-mention">@drkdevil</a>) 2016</p>
    </footer>
  </div>
</div>
<!-- /container -->